.lst-kix_s31c03bc8rws-7>li {
	counter-increment: lst-ctn-kix_s31c03bc8rws-7
}

.lst-kix_nmxty9kimb7g-1>li {
	counter-increment: lst-ctn-kix_nmxty9kimb7g-1
}

.lst-kix_s31c03bc8rws-6>li {
	counter-increment: lst-ctn-kix_s31c03bc8rws-6
}

.lst-kix_nmxty9kimb7g-2>li {
	counter-increment: lst-ctn-kix_nmxty9kimb7g-2
}

ol.lst-kix_nmxty9kimb7g-7.start {
	counter-reset: lst-ctn-kix_nmxty9kimb7g-7 0
}

.lst-kix_b8a56p4pdffw-2>li {
	counter-increment: lst-ctn-kix_b8a56p4pdffw-2
}

ol.lst-kix_nmxty9kimb7g-4.start {
	counter-reset: lst-ctn-kix_nmxty9kimb7g-4 0
}

.lst-kix_s31c03bc8rws-8>li {
	counter-increment: lst-ctn-kix_s31c03bc8rws-8
}

.lst-kix_s31c03bc8rws-5>li {
	counter-increment: lst-ctn-kix_s31c03bc8rws-5
}

ol.lst-kix_b8a56p4pdffw-8.start {
	counter-reset: lst-ctn-kix_b8a56p4pdffw-8 0
}

ol.lst-kix_s31c03bc8rws-2.start {
	counter-reset: lst-ctn-kix_s31c03bc8rws-2 0
}

ul.lst-kix_1y7zkp63uk8m-8 {
	list-style-type: none
}

.lst-kix_b8a56p4pdffw-3>li {
	counter-increment: lst-ctn-kix_b8a56p4pdffw-3
}

ul.lst-kix_zaena99uebd8-8 {
	list-style-type: none
}

ul.lst-kix_1y7zkp63uk8m-7 {
	list-style-type: none
}

ul.lst-kix_1y7zkp63uk8m-6 {
	list-style-type: none
}

.lst-kix_b8a56p4pdffw-0>li {
	counter-increment: lst-ctn-kix_b8a56p4pdffw-0
}

ul.lst-kix_1y7zkp63uk8m-5 {
	list-style-type: none
}

ul.lst-kix_1y7zkp63uk8m-4 {
	list-style-type: none
}

ol.lst-kix_b8a56p4pdffw-5.start {
	counter-reset: lst-ctn-kix_b8a56p4pdffw-5 0
}

ul.lst-kix_zaena99uebd8-4 {
	list-style-type: none
}

ul.lst-kix_1y7zkp63uk8m-3 {
	list-style-type: none
}

ul.lst-kix_zaena99uebd8-5 {
	list-style-type: none
}

ul.lst-kix_1y7zkp63uk8m-2 {
	list-style-type: none
}

ul.lst-kix_zaena99uebd8-6 {
	list-style-type: none
}

ul.lst-kix_1y7zkp63uk8m-1 {
	list-style-type: none
}

ul.lst-kix_zaena99uebd8-7 {
	list-style-type: none
}

ul.lst-kix_1y7zkp63uk8m-0 {
	list-style-type: none
}

ol.lst-kix_s31c03bc8rws-5.start {
	counter-reset: lst-ctn-kix_s31c03bc8rws-5 0
}

ol.lst-kix_s31c03bc8rws-8.start {
	counter-reset: lst-ctn-kix_s31c03bc8rws-8 0
}

ul.lst-kix_zaena99uebd8-0 {
	list-style-type: none
}

ul.lst-kix_zaena99uebd8-1 {
	list-style-type: none
}

ul.lst-kix_zaena99uebd8-2 {
	list-style-type: none
}

ul.lst-kix_zaena99uebd8-3 {
	list-style-type: none
}

ol.lst-kix_b8a56p4pdffw-2.start {
	counter-reset: lst-ctn-kix_b8a56p4pdffw-2 0
}

ol.lst-kix_b8a56p4pdffw-3 {
	list-style-type: none
}

ol.lst-kix_b8a56p4pdffw-2 {
	list-style-type: none
}

ol.lst-kix_b8a56p4pdffw-1 {
	list-style-type: none
}

ol.lst-kix_b8a56p4pdffw-0 {
	list-style-type: none
}

ol.lst-kix_s31c03bc8rws-3.start {
	counter-reset: lst-ctn-kix_s31c03bc8rws-3 0
}

ol.lst-kix_b8a56p4pdffw-4.start {
	counter-reset: lst-ctn-kix_b8a56p4pdffw-4 0
}

ol.lst-kix_s31c03bc8rws-8 {
	list-style-type: none
}

ol.lst-kix_s31c03bc8rws-7 {
	list-style-type: none
}

.lst-kix_s31c03bc8rws-3>li {
	counter-increment: lst-ctn-kix_s31c03bc8rws-3
}

.lst-kix_s31c03bc8rws-4>li:before {
	content: "" counter(lst-ctn-kix_s31c03bc8rws-4, lower-latin) ". "
}

ol.lst-kix_s31c03bc8rws-4 {
	list-style-type: none
}

ol.lst-kix_s31c03bc8rws-3 {
	list-style-type: none
}

.lst-kix_s31c03bc8rws-5>li:before {
	content: "" counter(lst-ctn-kix_s31c03bc8rws-5, lower-roman) ". "
}

ol.lst-kix_s31c03bc8rws-6 {
	list-style-type: none
}

ol.lst-kix_s31c03bc8rws-5 {
	list-style-type: none
}

ol.lst-kix_s31c03bc8rws-0 {
	list-style-type: none
}

.lst-kix_s31c03bc8rws-6>li:before {
	content: "" counter(lst-ctn-kix_s31c03bc8rws-6, decimal) ". "
}

ol.lst-kix_s31c03bc8rws-2 {
	list-style-type: none
}

ol.lst-kix_s31c03bc8rws-1 {
	list-style-type: none
}

ol.lst-kix_b8a56p4pdffw-8 {
	list-style-type: none
}

ol.lst-kix_b8a56p4pdffw-7 {
	list-style-type: none
}

.lst-kix_s31c03bc8rws-7>li:before {
	content: "" counter(lst-ctn-kix_s31c03bc8rws-7, lower-latin) ". "
}

ol.lst-kix_b8a56p4pdffw-6 {
	list-style-type: none
}

ol.lst-kix_b8a56p4pdffw-5 {
	list-style-type: none
}

ol.lst-kix_b8a56p4pdffw-4 {
	list-style-type: none
}

.lst-kix_s31c03bc8rws-8>li:before {
	content: "" counter(lst-ctn-kix_s31c03bc8rws-8, lower-roman) ". "
}

ol.lst-kix_b8a56p4pdffw-3.start {
	counter-reset: lst-ctn-kix_b8a56p4pdffw-3 0
}

.lst-kix_nmxty9kimb7g-2>li:before {
	content: "" counter(lst-ctn-kix_nmxty9kimb7g-2, lower-roman) ". "
}

.lst-kix_nmxty9kimb7g-3>li {
	counter-increment: lst-ctn-kix_nmxty9kimb7g-3
}

.lst-kix_nmxty9kimb7g-6>li {
	counter-increment: lst-ctn-kix_nmxty9kimb7g-6
}

.lst-kix_b8a56p4pdffw-4>li {
	counter-increment: lst-ctn-kix_b8a56p4pdffw-4
}

ol.lst-kix_nmxty9kimb7g-5.start {
	counter-reset: lst-ctn-kix_nmxty9kimb7g-5 0
}

.lst-kix_nmxty9kimb7g-3>li:before {
	content: "" counter(lst-ctn-kix_nmxty9kimb7g-3, decimal) ". "
}

.lst-kix_b8a56p4pdffw-1>li {
	counter-increment: lst-ctn-kix_b8a56p4pdffw-1
}

.lst-kix_nmxty9kimb7g-4>li:before {
	content: "" counter(lst-ctn-kix_nmxty9kimb7g-4, lower-latin) ". "
}

.lst-kix_b8a56p4pdffw-7>li {
	counter-increment: lst-ctn-kix_b8a56p4pdffw-7
}

.lst-kix_nmxty9kimb7g-0>li {
	counter-increment: lst-ctn-kix_nmxty9kimb7g-0
}

.lst-kix_nmxty9kimb7g-1>li:before {
	content: "" counter(lst-ctn-kix_nmxty9kimb7g-1, lower-latin) ". "
}

.lst-kix_nmxty9kimb7g-0>li:before {
	content: "" counter(lst-ctn-kix_nmxty9kimb7g-0, decimal) ". "
}

.lst-kix_s31c03bc8rws-1>li {
	counter-increment: lst-ctn-kix_s31c03bc8rws-1
}

.lst-kix_zaena99uebd8-5>li:before {
	content: "\0025a0  "
}

.lst-kix_zaena99uebd8-7>li:before {
	content: "\0025cb  "
}

.lst-kix_b8a56p4pdffw-8>li {
	counter-increment: lst-ctn-kix_b8a56p4pdffw-8
}

.lst-kix_nmxty9kimb7g-7>li {
	counter-increment: lst-ctn-kix_nmxty9kimb7g-7
}

.lst-kix_zaena99uebd8-2>li:before {
	content: "\0025a0  "
}

.lst-kix_zaena99uebd8-6>li:before {
	content: "\0025cf  "
}

.lst-kix_b8a56p4pdffw-6>li:before {
	content: "" counter(lst-ctn-kix_b8a56p4pdffw-6, decimal) ". "
}

.lst-kix_b8a56p4pdffw-7>li:before {
	content: "" counter(lst-ctn-kix_b8a56p4pdffw-7, lower-latin) ". "
}

.lst-kix_zaena99uebd8-3>li:before {
	content: "\0025cf  "
}

.lst-kix_b8a56p4pdffw-8>li:before {
	content: "" counter(lst-ctn-kix_b8a56p4pdffw-8, lower-roman) ". "
}

.lst-kix_zaena99uebd8-4>li:before {
	content: "\0025cb  "
}

.lst-kix_1y7zkp63uk8m-8>li:before {
	content: "\0025a0  "
}

.lst-kix_nmxty9kimb7g-5>li:before {
	content: "" counter(lst-ctn-kix_nmxty9kimb7g-5, lower-roman) ". "
}

.lst-kix_nmxty9kimb7g-7>li:before {
	content: "" counter(lst-ctn-kix_nmxty9kimb7g-7, lower-latin) ". "
}

.lst-kix_ajterj7bkkh2-8>li:before {
	content: "\0025a0  "
}

.lst-kix_s31c03bc8rws-0>li {
	counter-increment: lst-ctn-kix_s31c03bc8rws-0
}

.lst-kix_nmxty9kimb7g-8>li {
	counter-increment: lst-ctn-kix_nmxty9kimb7g-8
}

.lst-kix_ajterj7bkkh2-7>li:before {
	content: "\0025cb  "
}

ol.lst-kix_s31c03bc8rws-1.start {
	counter-reset: lst-ctn-kix_s31c03bc8rws-1 0
}

.lst-kix_nmxty9kimb7g-6>li:before {
	content: "" counter(lst-ctn-kix_nmxty9kimb7g-6, decimal) ". "
}

.lst-kix_ajterj7bkkh2-6>li:before {
	content: "\0025cf  "
}

ol.lst-kix_s31c03bc8rws-4.start {
	counter-reset: lst-ctn-kix_s31c03bc8rws-4 0
}

.lst-kix_ajterj7bkkh2-5>li:before {
	content: "\0025a0  "
}

ol.lst-kix_b8a56p4pdffw-6.start {
	counter-reset: lst-ctn-kix_b8a56p4pdffw-6 0
}

.lst-kix_zaena99uebd8-8>li:before {
	content: "\0025a0  "
}

.lst-kix_nmxty9kimb7g-8>li:before {
	content: "" counter(lst-ctn-kix_nmxty9kimb7g-8, lower-roman) ". "
}

.lst-kix_ajterj7bkkh2-2>li:before {
	content: "\0025a0  "
}

ol.lst-kix_nmxty9kimb7g-3 {
	list-style-type: none
}

ol.lst-kix_nmxty9kimb7g-3.start {
	counter-reset: lst-ctn-kix_nmxty9kimb7g-3 0
}

.lst-kix_1y7zkp63uk8m-0>li:before {
	content: "\0025cf  "
}

ol.lst-kix_nmxty9kimb7g-4 {
	list-style-type: none
}

ol.lst-kix_nmxty9kimb7g-1 {
	list-style-type: none
}

ol.lst-kix_nmxty9kimb7g-2 {
	list-style-type: none
}

.lst-kix_ajterj7bkkh2-0>li:before {
	content: "\0025cf  "
}

.lst-kix_ajterj7bkkh2-4>li:before {
	content: "\0025cb  "
}

ol.lst-kix_nmxty9kimb7g-7 {
	list-style-type: none
}

.lst-kix_1y7zkp63uk8m-1>li:before {
	content: "\0025cb  "
}

.lst-kix_1y7zkp63uk8m-2>li:before {
	content: "\0025a0  "
}

ol.lst-kix_nmxty9kimb7g-8 {
	list-style-type: none
}

.lst-kix_ajterj7bkkh2-3>li:before {
	content: "\0025cf  "
}

ol.lst-kix_nmxty9kimb7g-5 {
	list-style-type: none
}

ol.lst-kix_nmxty9kimb7g-6 {
	list-style-type: none
}

.lst-kix_s31c03bc8rws-2>li {
	counter-increment: lst-ctn-kix_s31c03bc8rws-2
}

ol.lst-kix_nmxty9kimb7g-0 {
	list-style-type: none
}

.lst-kix_ajterj7bkkh2-1>li:before {
	content: "\0025cb  "
}

.lst-kix_s31c03bc8rws-3>li:before {
	content: "" counter(lst-ctn-kix_s31c03bc8rws-3, decimal) ". "
}

.lst-kix_s31c03bc8rws-2>li:before {
	content: "" counter(lst-ctn-kix_s31c03bc8rws-2, lower-roman) ". "
}

ol.lst-kix_nmxty9kimb7g-0.start {
	counter-reset: lst-ctn-kix_nmxty9kimb7g-0 0
}

.lst-kix_1y7zkp63uk8m-7>li:before {
	content: "\0025cb  "
}

.lst-kix_b8a56p4pdffw-6>li {
	counter-increment: lst-ctn-kix_b8a56p4pdffw-6
}

ol.lst-kix_nmxty9kimb7g-6.start {
	counter-reset: lst-ctn-kix_nmxty9kimb7g-6 0
}

.lst-kix_s31c03bc8rws-0>li:before {
	content: "" counter(lst-ctn-kix_s31c03bc8rws-0, decimal) ". "
}

.lst-kix_1y7zkp63uk8m-5>li:before {
	content: "\0025a0  "
}

.lst-kix_1y7zkp63uk8m-6>li:before {
	content: "\0025cf  "
}

.lst-kix_s31c03bc8rws-1>li:before {
	content: "" counter(lst-ctn-kix_s31c03bc8rws-1, lower-latin) ". "
}

.lst-kix_1y7zkp63uk8m-3>li:before {
	content: "\0025cf  "
}

.lst-kix_1y7zkp63uk8m-4>li:before {
	content: "\0025cb  "
}

.lst-kix_s31c03bc8rws-4>li {
	counter-increment: lst-ctn-kix_s31c03bc8rws-4
}

.lst-kix_nmxty9kimb7g-4>li {
	counter-increment: lst-ctn-kix_nmxty9kimb7g-4
}

ol.lst-kix_nmxty9kimb7g-2.start {
	counter-reset: lst-ctn-kix_nmxty9kimb7g-2 0
}

ul.lst-kix_ajterj7bkkh2-5 {
	list-style-type: none
}

ul.lst-kix_ajterj7bkkh2-4 {
	list-style-type: none
}

ul.lst-kix_ajterj7bkkh2-3 {
	list-style-type: none
}

ul.lst-kix_ajterj7bkkh2-2 {
	list-style-type: none
}

ol.lst-kix_s31c03bc8rws-6.start {
	counter-reset: lst-ctn-kix_s31c03bc8rws-6 0
}

ol.lst-kix_s31c03bc8rws-7.start {
	counter-reset: lst-ctn-kix_s31c03bc8rws-7 0
}

ul.lst-kix_ajterj7bkkh2-8 {
	list-style-type: none
}

ul.lst-kix_ajterj7bkkh2-7 {
	list-style-type: none
}

ul.lst-kix_ajterj7bkkh2-6 {
	list-style-type: none
}

ol.lst-kix_b8a56p4pdffw-1.start {
	counter-reset: lst-ctn-kix_b8a56p4pdffw-1 0
}

ul.lst-kix_ajterj7bkkh2-1 {
	list-style-type: none
}

.lst-kix_b8a56p4pdffw-5>li {
	counter-increment: lst-ctn-kix_b8a56p4pdffw-5
}

ul.lst-kix_ajterj7bkkh2-0 {
	list-style-type: none
}

.lst-kix_nmxty9kimb7g-5>li {
	counter-increment: lst-ctn-kix_nmxty9kimb7g-5
}

.lst-kix_b8a56p4pdffw-0>li:before {
	content: "" counter(lst-ctn-kix_b8a56p4pdffw-0, decimal) ". "
}

ol.lst-kix_nmxty9kimb7g-1.start {
	counter-reset: lst-ctn-kix_nmxty9kimb7g-1 0
}

.lst-kix_b8a56p4pdffw-2>li:before {
	content: "" counter(lst-ctn-kix_b8a56p4pdffw-2, decimal) ". "
}

.lst-kix_b8a56p4pdffw-3>li:before {
	content: "" counter(lst-ctn-kix_b8a56p4pdffw-3, decimal) ". "
}

ol.lst-kix_b8a56p4pdffw-0.start {
	counter-reset: lst-ctn-kix_b8a56p4pdffw-0 0
}

.lst-kix_b8a56p4pdffw-1>li:before {
	content: "" counter(lst-ctn-kix_b8a56p4pdffw-1, decimal) ". "
}

.lst-kix_b8a56p4pdffw-5>li:before {
	content: "" counter(lst-ctn-kix_b8a56p4pdffw-5, lower-roman) ". "
}

ol.lst-kix_b8a56p4pdffw-7.start {
	counter-reset: lst-ctn-kix_b8a56p4pdffw-7 0
}

.lst-kix_zaena99uebd8-1>li:before {
	content: "\0025cb  "
}

.lst-kix_b8a56p4pdffw-4>li:before {
	content: "" counter(lst-ctn-kix_b8a56p4pdffw-4, lower-latin) ". "
}

ol.lst-kix_s31c03bc8rws-0.start {
	counter-reset: lst-ctn-kix_s31c03bc8rws-0 0
}

ol.lst-kix_nmxty9kimb7g-8.start {
	counter-reset: lst-ctn-kix_nmxty9kimb7g-8 0
}

.lst-kix_zaena99uebd8-0>li:before {
	content: "\0025cf  "
}

ol {
	margin: 0;
	padding: 0
}

table td,
table th {
	padding: 0
}

.c11 {
	border-right-style: solid;
	padding-top: 0pt;
	border-top-width: 0pt;
	border-right-width: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	line-height: 1.9;
	border-left-width: 0pt;
	border-top-style: solid;
	background-color: #ffffff;
	margin-left: 63pt;
	border-left-style: solid;
	border-bottom-width: 0pt;
	border-bottom-style: solid;
	orphans: 2;
	widows: 2;
	text-align: left;
	padding-right: 0pt
}

.c0 {
	border-right-style: solid;
	padding-top: 0pt;
	border-top-width: 0pt;
	border-right-width: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	line-height: 1.9;
	page-break-after: avoid;
	border-left-width: 0pt;
	border-top-style: solid;
	background-color: #ffffff;
	border-left-style: solid;
	border-bottom-width: 0pt;
	border-bottom-style: solid;
	orphans: 2;
	widows: 2;
	text-align: justify;
	padding-right: 0pt
}

.c1 {
	border-right-style: solid;
	padding-top: 0pt;
	border-top-width: 0pt;
	border-right-width: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	line-height: 1.9;
	border-left-width: 0pt;
	border-top-style: solid;
	background-color: #ffffff;
	border-left-style: solid;
	border-bottom-width: 0pt;
	border-bottom-style: solid;
	orphans: 2;
	widows: 2;
	text-align: justify;
	padding-right: 0pt
}

.c7 {
	border-right-style: solid;
	padding-top: 0pt;
	border-top-width: 0pt;
	border-right-width: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	line-height: 1.9;
	border-top-style: solid;
	background-color: #ffffff;
	margin-left: 62pt;
	border-bottom-width: 0pt;
	border-bottom-style: solid;
	orphans: 2;
	widows: 2;
	text-align: justify;
	padding-right: 0pt
}

.c4 {
	-webkit-text-decoration-skip: none;
	color: #1155cc;
	font-weight: 400;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	font-size: 10pt;
	font-family: "Trebuchet MS"
}

.c13 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: right;
	height: 11pt
}

.c9 {
	padding-top: 0pt;
	padding-bottom: 12pt;
	line-height: 1.9;
	orphans: 2;
	widows: 2;
	text-align: justify;
	height: 11pt
}

.c5 {
	-webkit-text-decoration-skip: none;
	font-weight: 400;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	font-size: 10pt;
	font-family: "Trebuchet MS"
}

.c18 {
	padding-top: 0pt;
	padding-bottom: 12pt;
	line-height: 1.9;
	orphans: 2;
	widows: 2;
	text-align: justify
}

.c12 {
	background-color: #ffff00;
	color: #000000;
	font-weight: 400;
	font-size: 10pt;
	font-family: "Trebuchet MS"
}

.c2 {
	font-size: 10pt;
	font-family: "Trebuchet MS";
	color: #303030;
	font-weight: 400
}

.c6 {
	color: #303030;
	font-weight: 700;
	font-size: 10pt;
	font-family: "Trebuchet MS"
}

.c14 {
	color: #000000;
	font-weight: 400;
	font-size: 9pt;
	font-family: "Trebuchet MS"
}

.c3 {
	text-decoration: none;
	vertical-align: baseline;
	font-style: normal
}

.c15 {
	background-color: #ffffff;
	max-width: 468pt;
	padding: 72pt 72pt 72pt 72pt
}

.c10 {
	padding: 0;
	margin: 0
}

.c8 {
	color: inherit;
	text-decoration: inherit
}

.c17 {
	background-color: #ffff00
}

.c16 {
	height: 11pt
}

.title {
	padding-top: 0pt;
	color: #000000;
	font-size: 26pt;
	padding-bottom: 3pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.subtitle {
	padding-top: 0pt;
	color: #666666;
	font-size: 15pt;
	padding-bottom: 16pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

li {
	color: #000000;
	font-size: 11pt;
	font-family: "Arial"
}

p {
	margin: 0;
	color: #000000;
	font-size: 11pt;
	font-family: "Arial"
}

h1 {
	padding-top: 20pt;
	color: #000000;
	font-size: 20pt;
	padding-bottom: 6pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h2 {
	padding-top: 18pt;
	color: #000000;
	font-size: 16pt;
	padding-bottom: 6pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h3 {
	padding-top: 16pt;
	color: #434343;
	font-size: 14pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h4 {
	padding-top: 14pt;
	color: #666666;
	font-size: 12pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h5 {
	padding-top: 12pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h6 {
	padding-top: 12pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	font-style: italic;
	orphans: 2;
	widows: 2;
	text-align: left
}